#include "ult.dtsi"

&kscan0 {
    interrupt-gpios = <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // D8
    gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>,  // IO 0
            <&gpio0 3 GPIO_ACTIVE_HIGH>,  // IO 1
            <&gpio0 28 GPIO_ACTIVE_HIGH>, // IO 2
            <&gpio0 29 GPIO_ACTIVE_HIGH>, // IO 3
            <&gpio1 11 GPIO_ACTIVE_HIGH>, // IO 4
            <&gpio1 12 GPIO_ACTIVE_HIGH>; // IO 5
};

&xiao_serial { status = "disabled"; }; // Disable UART to avoid pin conflicts

/ {
    left_encoder_1: encoder_left_1 {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D10
        b-gpios = <&gpio1 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D9
        steps = <80>;
        status = "okay";
    };

    left_encoder_2: encoder_left_2 {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // NFC1
        b-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // NFC2
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder_1 &left_encoder_2>;
        triggers-per-rotation = <20>;
    };
};