#include <dt-bindings/zmk/matrix_transform.h>
#include "ult.dtsi"

/* &参照はルートノードの外側に記述 */
&uicr {
    nfct-pins-as-gpios;
};

&reg1 {
    regulator-initial-mode = <1>;
};

&xiao_serial { status = "disabled"; };

/ {
    chosen {
        zmk,kscan = &kscan0;
        /* 左手と同じトランスフォーム定義を使用 */
        zmk,matrix-transform = &default_transform;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;
        
        /* 物理ピンの並び順（IO 0~5）を左手と完全に一致させる */
        gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>, // D7
                <&gpio1 11 GPIO_ACTIVE_HIGH>, // D6
                <&gpio0 29 GPIO_ACTIVE_HIGH>, // D3
                <&gpio0 28 GPIO_ACTIVE_HIGH>, // D2
                <&gpio0 3  GPIO_ACTIVE_HIGH>, // D1
                <&gpio0 2  GPIO_ACTIVE_HIGH>; // D0
    };

    /* 右手側エンコーダー1 (D10, D9) */
    right_encoder_1: encoder_right_1 {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    /* 右手側エンコーダー2 (NFCピン) */
    right_encoder_2: encoder_right_2 {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&right_encoder_1 &right_encoder_2>;
        triggers-per-rotation = <20>;
    };
};