#include "ult.dtsi"

&kscan0 {
    interrupt-gpios = <&xiao_d 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // D8
    gpios = <&xiao_d 0 GPIO_ACTIVE_HIGH>,   // A0 (P0.02)
            <&xiao_d 1 GPIO_ACTIVE_HIGH>,   // A1 (P0.03)
            <&xiao_d 2 GPIO_ACTIVE_HIGH>,   // A2 (P0.28)
            <&xiao_d 3 GPIO_ACTIVE_HIGH>,   // A3 (P0.29)
            <&xiao_d 6 GPIO_ACTIVE_HIGH>,   // D6 (P1.11)
            <&xiao_d 7 GPIO_ACTIVE_HIGH>;   // D7 (P1.12)
};

&xiao_serial { status = "disabled"; }; // Disable UART to avoid pin conflicts

/ {
    left_encoder_1: encoder_left_1 {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D10
        b-gpios = <&gpio1 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D9
        steps = <80>;
        status = "okay";
    };

    left_encoder_2: encoder_left_2 {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // NFC1
        b-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // NFC2
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder_1 &left_encoder_2>;
        triggers-per-rotation = <20>;
    };
};